body {
  background-color: #8821ac;
}

.textarea:disabled {
  background-color: #ffdc000f;
}

.wizard-animation {
  animation: wizard-appear 1 0.3s linear,
    /* wizard-stay 1 1.1s linear 0.5s, */ wizard-disappear 1 0.3s linear 1.2s;
  /* -o-animation: wizard-appear 1 0.2s linear, wizard-stay 1 1.1s linear 0.2s,
    wizard-disappear 1 0.2s linear 1.3s;
  -webkit-animation: wizard-appear 1 0.2s linear, wizard-stay 1 1.1s linear 0.2s,
    wizard-disappear 1 0.2s linear 1.3s;
  -moz-animation: wizard-appear 1 0.2s linear, wizard-stay 1 1.1s linear 0.2s,
    wizard-disappear 1 0.2s linear 1.3s;
  -ms-animation: wizard-appear 1 0.2s linear, wizard-stay 1 1.1s linear 0.2s,
    wizard-disappear 1 0.2s linear 1.3s; */
}

/* @keyframes wizard-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
} */

@keyframes wizard-appear {
  from {
    transform: translate(0rem, 5rem);
  }
  to {
    transform: translate(0rem, 0rem);
  }
}

/* @keyframes wizard-stay {
  from {
    transform: translate(0rem, -5rem);
  }
  to {
    transform: translate(0rem, -5rem);
  }
} */

@keyframes wizard-disappear {
  from {
    transform: translate(0rem, 0rem);
  }
  to {
    transform: translate(0rem, 5rem);
  }
}
